In [17]:
import seaborn as sns 
df = sns.load_dataset('tips')

In [18]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [20]:
df.shape

(244, 7)

In [21]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [22]:
x= df[['tip', 'sex', 'smoker', 'day', 'time', 'size']]
y = df[['total_bill']]

In [23]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25 ,random_state=42)

- Feature Encoding 
Label Encoding / Hot Encoding

we should do the Encoding after Splittin because no iformation should BE Leakage

In [24]:
# Label Wncoding on Binary Data Valaue s

from sklearn.preprocessing import LabelEncoder

In [25]:

lel1 = LabelEncoder()
lel2= LabelEncoder( ) 
lel3= LabelEncoder( )

In [29]:
import warnings 
warnings.filterwarnings('ignore') 

x_train['sex'] = lel1.fit_transform(x_train['sex'])
x_train['smoker'] = lel2.fit_transform(x_train['smoker'])
x_train['time'] = lel3.fit_transform(x_train['time'])

In [30]:
x_train.head()

      tip  sex  smoker  day  time  size
115  3.50    0       0  Sun     0     2
181  5.65    1       1  Sun     0     2
225  2.50    0       1  Fri     1     2
68   2.01    1       0  Sat     0     2
104  4.08    0       0  Sat     0     2

In [52]:
# Step 1: Add 'Unknown' to the LabelEncoder classes
if 'Unknown' not in lel1.classes_:
    import numpy as np
    lel1.classes_ = np.append(lel1.classes_, 'Unknown')

# Step 2: Replace unseen categories with 'Unknown'
expected_categories = set(lel1.classes_)
x_test['sex'] = x_test['sex'].apply(lambda x: x if x in expected_categories else 'Unknown')

# Step 3: Transform using LabelEncoder
x_test['sex'] = lel1.transform(x_test['sex'])

- APPlying OneHot Encoding on multiple categotru y

In [55]:
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder

In [59]:
ct = ColumnTransformer(transformers=[('onejot' , OneHotEncoder(drop= 'first'),[3])],
                                     remainder='passthrough')

In [65]:
ct.fit_transform(x_train)

array([[0., 1., 0., ..., 0., 0., 2.],
       [0., 1., 0., ..., 1., 0., 2.],
       [0., 0., 0., ..., 1., 1., 2.],
       ...,
       [0., 0., 0., ..., 1., 0., 2.],
       [0., 1., 0., ..., 1., 0., 2.],
       [1., 0., 0., ..., 1., 0., 3.]])

In [74]:
import sys 
np.set_printoptions(threshold=sys.maxsize)
x_train = ct.fit_transform(x_train)

In [75]:

x_test = ct.fit_transform(x_test)

- Applying SVM Regression

In [76]:
# Do it